﻿@{
    ViewBag.Title = "DEMO";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<link href="~/Content/jquery/plugin/highlight/styles/monokai-sublime.css" rel="stylesheet" />
<script src="~/Content/jquery/plugin/highlight/highlight.pack.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
<style>
    body {
        overflow-y: auto;
        height: auto;
    }

    #all_list {
        background: #fff;
        padding: 10px;
    }

        #all_list h3 {
            display: inline-block;
            margin-left: 15px;
        }

    .list > div {
        margin-left: 30px;
    }

    code {
        display: block;
    }
    .lr-select-option{
        height:250px !important;
    }

    /*多条件查询*/
.lr-query-wrap {
    position: relative;
    width: 90px;
    height: 28px;
}
.lr-query-btn
{
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 26px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align:center;
    color: #fff;
    background-color: #039cfd;
    border-color: #039cfd;
}
.lr-query-btn:hover {
    background-color: #027dcb;
    border-color: #0277c1;
}
.lr-query-content {
    position: absolute;
    top: 30px;
    left: 0;
    z-index: 10;
    padding: 10px 10px 10px 0;
    background: #fff;
    box-shadow: 0 0 2px 2px rgba(0,0,0,.15);
    border-radius: 3px;

    height:300px;
    width:400px;

    display:none;
}
.lr-query-content.active {
    display:block;
}
.lr-query-formcontent {
    display:none;
}

.lr-query-arrow {
    position: absolute;
    top: -16px;
    left: 30px;
    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent #d6e1ee;
}
.lr-query-inside {
    position: absolute;
    top: -6px;
    left: -7px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #fff;
}
.lr-query-content-bottom {
    position:absolute;
    right:10px;
    bottom:10px;
    height:30px;
}
.lr-query-content-bottom .btn {
    margin-left:10px;
}

.lr-form-item {
    position: relative;
    min-height: 38px;
    padding: 5px 0px 5px 80px;
}
.lr-form-item-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
    line-height: 38px;
    text-align: right;
    padding-right: 10px;
}
.lr-form-item-title > font {
    position: absolute;
    top: 0;
    right: 2px;
    color: red;
}
.lr-form-item .checkbox,.lr-form-item .radio {
    moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    margin-top: 6px;
    margin-bottom: 0;
}
.lr-form-item .checkbox input[type=checkbox], .lr-form-item .radio input[type=radio] {
    margin-top: 3px;
    margin-left:-15px;
}
#alldiv{
    display:flex;
}
#leftdiv{
    width: 300px;
    background: #fff;
    height: 100%;
    position: fixed;
    overflow: auto;
    padding:15px;
}
#rightdiv{
    margin-left:300px;
}
#rightdiv #all_list{
    margin-left:30px;
    margin-right:30px;
}

#list li a.active{
    color: #42b983;
}


.lr-search-date{
    float:none !important;
}
</style>
<div id="alldiv">
    <div id="leftdiv">
        <ul id="list">
        </ul>
    </div>
    <div id="rightdiv">
        <div id="all_list">
    <div class="lr-layout-tool-right">
        <div class=" btn-group btn-group-sm">
            <a id="lr_refresh" class="btn btn-default"><i class="fa fa-refresh"></i></a>
        </div>
    </div>
    <div>
        <h2 id="one">1. 针对业务的前端使用方法</h2>
        <div class="list" id="one_list">
            <h3 id="one1">1.1 操作类</h3><span> ~/Views/LR_Content/script/lr-base.js</span>
            <div class="one_list_1">
                <h4>1.1.1 创建一个GUID</h4>
                <pre><code>top.learun.newGuid()</code></pre>
                <button class="btn btn-primary">生成GUID</button>
                <span class="newguid"></span>
            </div>
            <div class="one_list_2">
                <h4>1.1.2 加载提示</h4>
                <pre><code>top.learun.loading(true,'加载中..')//弹出加载框</code><code>top.learun.loading(false)//关闭加载框</code></pre>
                <button class="btn btn-primary">加载停留2秒</button>
                <span></span>
            </div>
            <div class="one_list_3">
                <h4>1.1.3 改变url参数值</h4>
                <pre><code>top.learun.changeUrlParam(url, key, value)//返回新的url</code></pre>
                <input type="text" name="name" value="www.baidu.com?a=1" />
                <button class="btn btn-primary">改变a为2</button>
                <span class="ato2"></span>
            </div>
            <div class="one_list_4">
                <h4>1.1.4 复制数组对象</h4>
                <pre><code>top.learun.arrayCopy([{a:1,b:2}])//复制一个数组对象</code></pre>
            </div>
            <div class="one_list_5">
                <h4>1.1.5 检测数据是否选中</h4>
                <pre><code>top.learun.checkrow(id)//如果id为undifined，null,""返回false并弹出提示框，否则返回true</code></pre>
                <button class="btn btn-primary">数据为空时</button>
            </div>
            <div class="one_list_6">
                <h4>1.1.6 弹出框</h4>
                <pre>
                <code>top.learun.alert.success("成功")</code>
                <code>top.learun.alert.info("一般信息")</code>
                <code>top.learun.alert.warning("警告")</code>
                <code>top.learun.alert.error("错误")</code></pre>
                <button class="btn btn-success" onclick="top.learun.alert.success('成功')">success</button>
                <button class="btn btn-info" onclick="top.learun.alert.info('一般信息')">info</button>
                <button class="btn btn-warning" onclick="top.learun.alert.warning('警告')">warn</button>
                <button class="btn btn-danger" onclick="top.learun.alert.error('错误')">error</button>
            </div>
        </div>
        <div class="list" id="two_list">
            <h3  id="one2">1.2 ajax操作方法</h3><span> ~/Views/LR_Content/script/lr-ajax.js</span>
            <div class="two_list_1">
                <h4>1.2.1 get请求方法（异步）</h4>
                <pre><code>httpAsyncGet(url, callback)//url地址,callback回调函数</code></pre>
                <h4>1.2.2 get请求方法（同步）</h4>
                <pre><code>httpGet(url, param)//url地址,param参数</code></pre>
                <h4>1.2.3 post请求方法（异步）</h4>
                <pre><code>httpAsyncPost(url, param, callback)//url地址,param参数,callback回调函数</code></pre>
                <h4>1.2.4 post请求方法（同步）</h4>
                <pre><code>httpPost(url, param, callback)//url地址,param参数,callback回调函数</code></pre>
                <h4>1.2.5 异步封装</h4>
                <pre><code>httpAsync(type,url,param,callback)//type请求类型,url地址,param参数,callback回调函数</code></pre>
                <h4>1.2.6 删除或提交form数据</h4>
                <pre><code>deleteForm(url, param, callback)//多了些提示框</code>
                <code>postForm(url, param, callback)//多了些提示框</code></pre>
            </div>
        </div>
        <div class="list" id="three_list">
            <h3  id="one3">1.3 权限验证模块</h3><span> ~/Views/LR_Content/script/lr-authorize.js</span>
            <div>获取权限请求是在Shared/_index页面，一般在加载index页面时会请求后台接口GetAuthorizeButtonColumnList，获取到当前页面的按钮和表格列权限对象，然后在加载表格和按钮时与这个对象做比较过滤掉没有权限的按钮和表格列</div>
            <pre><code>
                $('#id').lrAuthorizeJfGrid(op);//过滤表头数据，调用jfgrid插件
                </code></pre>
        </div>
        <div class="list" id="four_list">
            <h3  id="one4">1.4 获取客户端数据</h3><span> ~/Views/LR_Content/script/lr-clientdata.js</span>
            <div class="four_list_1">
                <h4>1.4.1 登录后数据获取</h4>
<pre>
                <code>top.learun.clientdata.get(['userinfo'])//用户登录信息</code>
                <code>top.learun.clientdata.get(['modules'])//功能菜单模块，返回一个对象数组</code>
                <code>top.learun.clientdata.get(['modulesTree'])//按照父节点的功能模块，获取一个树。     
top.learun.clientdata.get(['modulesTree'，F_ModuleId])//传入父模块moduleid获取到子模块数组</code>
                <code>top.learun.clientdata.get(['modulesMap'])//所有模块，返回一个对象。      
top.learun.clientdata.get(['modulesMap',F_ModuleId])//返回主键对应的模块对象</code>
<code>
    //user___用户数据
    learun.clientdata.getAsync('user', {//获取一个用户
        userId: userId,
        callback: function (item,option) {//item是数据对象，option是配置项 
            //{companyId: "53298b7a-404c-4337-aa7f-80b2a4ca6681", departmentId: "bebcb255-5254-4250-88f4-06c5680c55f2", name: "张馨", img: "0"}
        }
    });

    learun.clientdata.getAllAsync('user', {//获取全部用户
        callback: function (item,option) {
        }
    });
</code>
<code>
    //department__部门数据
    learun.clientdata.getAsync('department', {
        key: F_DepartmentId,
        callback: function (item,option) {//item = {parentId: "0", companyId: "53298b7a-404c-4337-aa7f-80b2a4ca6681", name: "媒体部"}
        }
    });

    learun.clientdata.getAllAsync('department', {
        callback: function (item,option) {
        }
    });
</code>
<code>
    //company__公司
    learun.clientdata.getAsync('company', {
        key: companyId,
        callback: function (item,option) {//item = {parentId: "207fa1a9-160c-4943-a89b-8fa4db0547ce", name: "力软（上海）公司"}
        }
    });

    learun.clientdata.getAllAsync('company', {//获取所有公司对象
        callback: function (item,option) {
        }
    });
</code>
<code>
    //db__数据库
    learun.clientdata.getAsync('db', {
        key: F_DatabaseLinkId,
        callback: function (item,option) {//item = {alias: "localhost", name: "adms7pro"}
        }
    });

    learun.clientdata.getAllAsync('db', {
        callback: function (item,option) {//item = {alias: "localhost", name: "adms7pro"}
        }
    });
</code>
<code>
    //dataItem___数据字典
    learun.clientdata.getAsync('dataItem', {
        key: 'value',//项目值
        code: 'itemCode',//编号
        callback: function (item, option) {//item={parentId: "0", text: "互联网", value: "互联网"}
        }
    });

    learun.clientdata.getAllAsync('dataItem', {//获取对应编号的所有数据
        code: 'itemCode',//编号
        callback: function (item, option) {
        }
    });
</code>
<code>
    //custmerData___自定义数据
    learun.clientdata.getAsync('custmerData', {
        url: url,//得到一个对象数组
        keyId: valueId,//对象名F_CustomerId
        key: value,//对象值21c56d53-4e0c-465b-b0f1-bb18a6897f80
        callback: function (item,option) {//获取到这个对象item={F_CustomerId: "21c56d53-4e0c-465b-b0f1-bb18a6897f80", F_EnCode: "KH-160523022"}
        }
    });

    learun.clientdata.getAllAsync('custmerData', {
        url: url,//得到一个对象数组
        callback: function (item,option) {
        }
    });
</code>
<code>
    learun.clientdata.update( 'dataItem' );//下次获 取dat//aItem会从后台接口获取，不会从本地存储中获取
</code>
<code>
    learun.clientdata.get(['dataItem']);//下次获取dataItem会从后台接口获取，不会从本地存储中获取
</code>
</pre>
            </div>
        </div>
        <div class="list" id="five_list">
            <h3  id="one4">1.5 时间日期的处理</h3><span> ~/Views/LR_Content/script/lr-date.js</span>
            <div class="five_list_1">
<pre class="js">
<code class="js">top.learun.getMonth();//当前月开始和结束时间 {begin: "2018-12-01 00:00:00", end: "2018-12-31 23:59:59"}</code>
<code class="js">top.learun.getPreMonth();//上个月 {begin: "2018-11-01 00:00:00", end: "2018-11-30 23:59:59"}</code> 
<code>top.learun.getCurrentQuarter()//当前季度 {begin: "2018-10-01 00:00:00", end: "2018-12-31 23:59:59"}</code>
<code>top.learun.getPreQuarter()//上个季度 {begin: "2018-07-01 00:00:00", end: "2018-09-30 23:59:59"}</code>
<code>top.learun.getQuarter(Year, month)//根据传入的年和月得到季度，Year是年份，month是月份从0开始</code>
<code>top.learun.getYear()//得到当前年份 {begin: "2018-01-01 00:00:00", end: "2018-12-31 23:59:59"}</code>
<code>top.learun.getPreYear()//上年</code> 
<code>top.learun.getFirstHalfYear()//前半年 {begin: "2018-01-01 00:00:00", end: "2018-06-30 23:59:59"}</code> 
<code>top.learun.getSecondHalfYear()//后半年</code> 
<code>new Date().DateAdd(strInterval, Number)//计算日期 
strInterval要计算的单位        Number
's': 秒
'n': 分
'h': 小时
'd': 天
'w': 星期
'q': 季度
'm': 月
'y': 年
new Date('2019/1/1').DateAdd('y', 1);//Wed Jan 01 2020 00:00:00 GMT+0800 (中国标准时间)
new Date('2019/1/1).DateAdd('y', -1);//Mon Jan 01 2018 00:00:00 GMT+0800 (中国标准时间)
                            </code> 
<code>top.learun.parseDate()//字符串转化成日期
top.learun.parseDate('2018-1-1')// Mon Jan 01 2018 00:00:00 GMT+0800 (中国标准时间)
top.learun.parseDate('2018/1/1')// Mon Jan 01 2018 00:00:00 GMT+0800 (中国标准时间)
</code> 
<code>new Date().DateDiff(strInterval, dtEnd)//比较日期差 dtEnd 格式为日期型或者 有效日期格式字符串 
strInterval要计算的单位        Number
's': 秒
'n': 分
'h': 小时
'd': 天
'w': 星期
'q': 季度
'm': 月
'y': 年
new Date('2019/1/1').DateDiff('y',  '2018-1-1');   //-1
new Date('2019/1/1').DateDiff('y',  new Date('2018/1/1')); //-1
</code> 
<code>
new Date().isLeapYear();//判断闰年
</code>
</pre>
            </div>
        </div>
        <div class="list" id="six_list">
            <h3  id="one6">1.6 excel 导入导出</h3><span> ~/Views/LR_Content/script/lr-excel.js</span>
            <div class="six_list_1">
                公司管理演示
            </div>
        </div>
        <div class="list" id="seven_list">
            <h3  id="one7">1.7文件上传</h3><span> ~/Views/LR_Content/script/lr-fileupload.js</span>
            <div class="seven_list_1" style="width:80%;">
                <div id="learun_uploader"></div>
<pre>
                <code>
        $('#id').lrUploader();
        /*调用~/Views/LR_Content/plugin/uploader/lr-uploader.js，主要是创建一个附件选择框，
        点击上传和下载按钮打开~/Areas/LR_SystemModule/Views/Annexes/UploadForm.cshtml,DownForm.cshtml页面。
        文件默认保存在C:/fileAnnexes文件夹下，可以在system.config中修改 <add key="AnnexesFile" value="C:/fileAnnexes" />







        文件数据默认保存在lr_base_annexesfile数据表里。*/
    </code>
</pre>
            </div>
        </div>
        <div class="list" id="eight_list">
            <h3  id="one8">1.8 表单处理方法</h3><span> ~/Views/LR_Content/script/lr-form.js</span>
            <div class="eight_list_1">
                @*<a id="lr_add" class="btn btn-default"><i class="fa fa-plus"></i>&nbsp;新增</a>*@
                <div id="form">
                    <div class="col-xs-6 lr-form-item">
                        <div class="lr-form-item-title">真实姓名<font face="宋体">*</font></div>
                        <input id="F_RealName" type="text" value="张三" class="form-control" isvalid="yes" checkexpession="NotNull" />
                    </div>
                    <div class="col-xs-6 lr-form-item">
                        <div class="lr-form-item-title">性别</div>
                        <input id="F_Gender" type="text" value="男" class="form-control" />
                    </div>

                    <div class="col-xs-6 lr-form-item">
                        <div class="lr-form-item-title">手机</div>
                        <input id="F_Mobile" type="text" value="13339876543" class="form-control" />
                    </div>
                    <div class="col-xs-6 lr-form-item">
                        <div class="lr-form-item-title">备注</div>
                        <input id="F_Description" type="text" class="form-control" />
                    </div>
                    <div class="col-xs-6 lr-form-item">
                        <div class="lr-form-item-title">数据字典</div>
                        <div id="outputArea"></div>
                    </div>

                    <div class="col-xs-6 lr-form-item">
                        <div class="lr-form-item-title">人员单选</div>
                        <div id="user"></div>
                    </div>
                    <div class="col-xs-6 lr-form-item">
                        <div class="lr-form-item-title">人员多选</div>
                        <div id="user1"></div>
                    </div>
                    <div class="col-xs-12 lr-form-item">
                        <div class="lr-form-item-title">公司地点</div>
                        <div id="area" class="col-xs-12 lr-form-area">
                            <div id="F_ProvinceId" placeholder="省" class="col-xs-4"></div>
                            <div id="F_CityId" placeholder="市" class="col-xs-4"></div>
                            <div id="F_CountyId" placeholder="县/区" class="col-xs-4"></div>
                        </div>
                    </div>
                </div>
                <div class="lr-layout-tool-item">
                    <div id="multiple_condition_query">
                        <div class="lr-query-formcontent">
                            <div class="col-xs-12 lr-form-item">
                                <div class="lr-form-item-title">单据编号</div>
                                <input id="orderCode" type="text" class="form-control" />
                            </div>
                            <div class="col-xs-12 lr-form-item">
                                <div class="lr-form-item-title">客户名称</div>
                                <div id="customerId"></div>
                            </div>
                            <div class="col-xs-12 lr-form-item">
                                <div class="lr-form-item-title">销售人员</div>
                                <div id="sellerId"></div>
                            </div>
                            <div class="col-xs-12 lr-form-item">
                                <div class="lr-form-item-title">收款状态</div>
                                <div id="paymentState"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <pre><code>
    /*获取和设置表单数据*/
    $('#form').lrGetFormData();//{F_RealName: "张三", F_Gender: "男", F_Mobile: "13339876543", F_Description: ""}
    $('#form').lrSetFormData({F_RealName: "张四", F_Description: "修改"});//{F_RealName: "张四", F_Gender: "男", F_Mobile: "13339876543", F_Description: "修改"}

    /*表单数据操作*/
    $('#form').lrSetForm(url, callback)   //设置表单
    $('#form').lrSaveForm(url, param, callback, isNotClosed)  //保存表单，isNotClose是否不关闭当前窗口
    $('#form').lrPostForm(url, param)

    /*检测字段是否重复*/
    $.lrExistField(keyValue, controlId, url, param);//主键，字段id，接口路径，参数
    $('#F_ItemName').on('blur', function () {//如果输入值已存在，提示重新输入
        $.lrExistField("f87d91a7-fe95-4117-9d03-c95a7f9288d0", 'F_ItemName', '/LR_SystemModule/DataItem/ExistItemName');
    });

    /*固定下拉框的一些封装：数据字典，组织机构，省市区级联*/
    // 数据字典下拉框
    $('#id').lrDataItemSelect(op)
    $('#outputArea').lrDataItemSelect({ code: 'outputArea' });

    // 人员下拉框
    $('#id').lrUserSelect(type)//0单选1多选
    // 省市区级联
    $('#area').lrAreaSelect();

    // 多条件查询框
    $('#id').lrMultipleQuery(search, height, width);
    $('#multiple_condition_query').lrMultipleQuery(function (obj) {
        // 调用后台查询
        console.log(obj);
    },220);
</code></pre>
            </div>
        </div>
        @*<div class="list" id="nine_list">
            <h3>1.9 客户端语言包加载（菜单，tab条）</h3><span> ~/Views/LR_Content/script/lr-language.js</span>
        </div>*@
        <div class="list" id="ten_list">
            <h3  id="one9">1.9 弹层</h3><span> ~/Views/LR_Content/script/lr-layer.js</span>
            <div class="ten_list_1">
                <pre><code>
    // 询问框
    top.learun.layerConfirm(_msg, callback);
    top.learun.layerConfirm('是否确认启用该项！', function (res,index) {//确认res为true,index当前弹层下标
        console.log(res)//确认返回true
        top.learun.layerClose('',index);
    });
</code></pre>
                <pre><code>
    // 自定义表单弹层
    top.learun.layerForm(op);
    top.learun.layerForm({
        id: 'Forma',
        title: '编辑移动功能',
        btn: ['确认', '关闭'],
        maxmin: false,//窗体是否允许最大最小
        end:false,//窗体关闭后执行
        url: '/AppManager/FunctionManager/Form?keyValue=' + keyValue,
        width: 600,
        height: 450,
        callBack: function (id) {
            top.learun.layerClose('Forma')
        }
    });
</code></pre>
<pre><code>
// 关闭弹层
top.learun.layerClose(name, index)//name是弹层id，index是弹层下标。
</code></pre>
                <button class="btn btn-primary" id="confirm">询问框</button>
                <button class="btn btn-primary" id="define">自定义</button>
            </div>
        </div>
        <div class="list" id="eleven_list">
            <h3  id="one10">1.10 tab窗口操作方法</h3><span> ~/Views/LR_Content/script/lr-tabs.js</span>
            <div class="eleven_list_1">
<pre><code>
    //打开一个tab
    top.learun.frameTab.open(module, notAllowClosed)//module是一个对象，notAllowClosed为true时改tab不允许被关闭。
    var module={F_ModuleId:'8',F_UrlAddress:'/LR_OrganizationModule/Company/Index',F_FullName:"公司管理"}
    top.learun.frameTab.open(module, true)

    top.learun.frameTab.close(F_ModuleId)//关闭一个tab
    top.learun.frameTab.close('8')//关闭一个tab

    top.learun.frameTab.opencallback=false;//打开tab后判断该函数是否为false,不是则执行该函数;
    top.learun.frameTab.closecallback=false;//关闭tab后判断该函数是否为false,不是则执行该函数;
    </code><code>
    top.learun.frameTab.currentIframe();//获取当前iframe页面的window对象
    top.learun.frameTab.parentIframe();//获取当前父iframe页面的window对象
    </code><code>
    top.learun.frameTab.focus(moduleId)//跳转到该tab
    top.learun.frameTab.focus('8');

    top.learun.frameTab.leaveFocus();//离开tab
</code></pre>
                <button class="btn btn-primary" id="opentab">打开一个tab</button>
                <button class="btn btn-primary" id="closetab">关闭一个tab</button>
                <button class="btn btn-primary" id="focustab">跳转tab</button>
                <button class="btn btn-primary" id="leavetab">离开tab</button>
            </div>
        </div>
        <div class="list" id="twelve_list">
            <h3  id="one11">1.11 数据验证完整性</h3><span> ~/Views/LR_Content/script/lr-validator-helper.js</span>
    <div class="twelve_list_1">
<pre><code>
top.learun.validator.isNotNull(obj)// 验证不为空
top.learun.validator.isNotNull('');//{code: false, msg: "不能为空"}
top.learun.validator.isNotNull('xdf');//{code: true, msg: "xdf"}


top.learun.validator.isNum(obj)// 验证数字 
top.learun.validator.isNumOrNull(obj)// 验证数字 或者空
top.learun.validator.isEmail(obj)//Email验证 email
top.learun.validator.isEmailOrNull(obj)//Email验证 email   或者null,空
top.learun.validator.isEnglishStr(obj)//验证只能输入英文字符串 echar
top.learun.validator.isEnglishStrOrNull(obj)//验证只能输入英文字符串 echar 或者null,空
top.learun.validator.isTelephone(obj) //验证是否电话号码 phone
top.learun.validator.isTelephoneOrNull(obj)//验证是否电话号码 phone或者null,空
top.learun.validator.isMobile(obj)//验证是否手机号 mobile
top.learun.validator.isMobileOrnull(obj)//验证是否手机号 mobile或者null,空
top.learun.validator.isMobileOrPhone(obj)//验证是否手机号或电话号码 mobile phone 
top.learun.validator.isMobileOrPhoneOrNull(obj)//验证是否手机号或电话号码 mobile phone或者null,空
top.learun.validator.isUri(obj)//验证网址 uri
top.learun.validator.isUriOrNull(obj)//验证网址 uri或者null,空
top.learun.validator.isDate(obj)//判断日期类型是否为YYYY-MM-DD格式的类型 date
top.learun.validator.isDateOrNull(obj)//判断日期类型是否为YYYY-MM-DD格式的类型 date或者null,空
top.learun.validator.isDateTime(obj)//判断日期类型是否为YYYY-MM-DD hh:mm:ss格式的类型 datetime
top.learun.validator.isDateTimeOrNull(obj)//判断日期类型是否为YYYY-MM-DD hh:mm:ss格式的类型 datetime或者null,空
top.learun.validator.isTime(obj)//判断日期类型是否为hh:mm:ss格式的类型 time
top.learun.validator.isTimeOrNull(obj)//判断日期类型是否为hh:mm:ss格式的类型 time或者null,空
top.learun.validator.isChinese(obj)//判断输入的字符是否为中文 cchar 
top.learun.validator.isChineseOrNull(obj)//判断输入的字符是否为中文 cchar或者null,空
top.learun.validator.isZip(obj)//判断输入的邮编(只能为六位)是否正确 zip
top.learun.validator.isZipOrNull(obj)//判断输入的邮编(只能为六位)是否正确 zip或者null,空
top.learun.validator.isDouble(obj)//判断输入的字符是否为双精度 double
top.learun.validator.isDoubleOrNull(obj)//判断输入的字符是否为双精度 double或者null,空
top.learun.validator.isIDCard(obj)//判断是否为身份证 idcard
top.learun.validator.isIDCardOrNull(obj)//判断是否为身份证 idcard或者null,空
top.learun.validator.isIP(obj)//判断是否为IP地址格式
top.learun.validator.isIPOrNull(obj)//判断是否为IP地址格式 或者null,空
top.learun.validator.isLenNum(obj, n)//验证是否是n位数字字符串编号 nnum
top.learun.validator.isLenNumOrNull(obj, n)//验证是否是n位数字字符串编号 nnum或者null,空
top.learun.validator.isLenStr(obj, n)//验证是否小于等于n位数的字符串 nchar
top.learun.validator.isLenStrOrNull(obj, n)//验证是否小于等于n位数的字符串 nchar或者null,空
    </code></pre>
    </div>
        </div>
        <div class="list" id="thirty_list">
            <h3 id="one12">1.12 表单数据验证完整性</h3><span> ~/Views/LR_Content/script/lr-validator.js</span>
            <div class="thirty_list_1">
                <div id="formid">
                    <div class="col-xs-12 lr-form-item">
                        <div class="lr-form-item-title">按钮ID<font face="宋体">*</font></div>
                        <input id="btnId" type="text" class="form-control" placeholder="请输入ID" isvalid="yes" checkexpession="NotNull" />
                    </div>
                    <div class="col-xs-12 lr-form-item">
                        <div class="lr-form-item-title">按钮名称<font face="宋体">*</font></div>
                        <input id="btnName" type="text" class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" />
                    </div>
                </div>
                <button class="btn btn-primary" id="formbtn">提交</button>
<pre>
    <code>
    &ltdiv id="formid"&gt
        &ltdiv class="col-xs-12 lr-form-item"&gt
            &ltdiv class="lr-form-item-title"&gt按钮ID&ltfont face="宋体"&gt*&lt/font&gt&lt/div&gt
            &ltinput id="btnId" type="text" class="form-control" placeholder="请输入ID" isvalid="yes" checkexpession="NotNull" /&gt
        &lt/div&gt
        &ltdiv class="col-xs-12 lr-form-item"&gt
            &ltdiv class="lr-form-item-title"&gt按钮名称&ltfont face="宋体"&gt*&lt/font&gt&lt/div&gt
            &ltinput id="btnName" type="text" class="form-control" placeholder="请输入名称" isvalid="yes" checkexpession="NotNull" /&gt
        &lt/div&gt
    &lt/div&gt
    </code>
</pre>
            </div>
        </div>
    </div>
    <div>
        <h2  id="two">2. 一些插件的使用方法</h2>
        <div class="list">
            <h3 id="two1">2.1 时间查询框</h3><span> ~/Views/LR_Content/plugin/date/lr-datepicker.js</span>
<div class="two_list_1">
    <div id="lrdateid"></div>
    <div>
<pre class="js"><code>
方法：$('#'+id).lrdate(op);
参数说明：
参数       说明                    默认
dfdata     自定义数据              []
mShow      是否显示当月按钮        true
premShow   是否显示上月按钮        true
jShow      是否显示当季度按钮      true
prejShow   是否显示上季度按钮      true
ysShow     是否显示上半年按钮      true
yxShow     是否显示下半年按钮      true
preyShow   是否显示去年按钮        true
yShow      是否显示今年按钮        true
dfvalue    默认选择值              未选择
selectfn   选择后回调函数          false
minDate    最小日期                ''
maxDate    最大日期                ''
例子：
$("#lrdateid").lrdate({
    dfdata: [
        {
            name: '今天',
            begin: function () { return learun.getDate('yyyy-MM-dd 00: 00: 00') },
            end: function () { return learun.getDate('yyyy-MM-dd 23: 59: 59') }
        },
        {
            name: '近7天',
            begin: function () { return learun.getDate('yyyy-MM-dd 00: 00: 00', 'd', -6) },
            end: function () { return learun.getDate('yyyy - MM - dd 23: 59: 59') }
        },
        {
            name: '近1个月',
            begin: function () { return learun.getDate('yyyy-MM-dd 00: 00: 00', 'm', -1) },
            end: function () { return learun.getDate('yyyy - MM - dd 23: 59: 59') }
        },
        {
            name: '近3个月',
            begin: function () { return learun.getDate('yyyy-MM-dd 00: 00: 00', 'm', -3) },
            end: function () { return learun.getDate('yyyy - MM - dd 23: 59: 59') }
        },
    ],
    // 月
    mShow: false,
    premShow: false,
    // 季度
    jShow: false,
    prejShow: false,
    // 年
    ysShow: false,
    yxShow: false,
    preyShow: false,
    yShow: false,
    // 默认
    dfvalue: '1',
    selectfn: function (begin, end) {
        console.log(begin, end)
    }
});                                    
</code></pre>
    </div>
</div>
        </div>    
        <div class="list">
            <h3 id="two2">2.2 下拉选择框</h3><span> ~/Views/LR_Content/plugin/select/lr-select.js</span>
            <div  id="two_list_2">
                <div id="F_Symbol"></div>
                <button class="selectone btn btn-primary">选择等于</button>
                <button class="reflash btn btn-primary">刷新</button>
<pre class="js"><code>
方法：$('#'+id).lrselect(op);
参数              说明                            默认
placeholder       占位符                          请选择
type              数据展示类型：                  default
                  default：普通；
                  tree：树形数据；
                  treemultiple：树形多选； 
                  multiple：普通多选  default
value             数据值字段名                    id
text              数据显示字段名                  text
title             数据标题字段名                  title
maxHeight         下拉框最大高度                  200
width             下拉框宽度                      跟随输入框宽度
allowSearch       是否允许搜索                    false
url               获取数据地址                    false
data              下拉选择数据                    false
param             请求后台参数                    Null
method            请求后台方法：GET、POST         GET
select            选择后触发方法                  false

    //下拉框选择
    $('#F_Symbol').lrselect({
        data: [{ value: 1, text: '等于' }, { value: 2, text: '大于' }, { value: 3, text: '大于等于' }, { value: 4, text: '小于' }, { value: 5, text: '小于等于' }, { value: 6, text: '包含' }, { value: 7, text: '包含于' }, { value: 8, text: '不等于' }, { value: 9, text: '不包含' }, { value: 10, text: '不包含于' }],
        value: 'value',
        text: 'text',
        title: 'text',
        placeholder: '请选择',
        maxHeight: 130,
        select: function (item) {
            console.log(item)//{value: 5, text: "小于等于"}
            top.learun.alert.success(item.text)
        }
    });

    //刷新下拉框
    $('#F_Symbol').lrselectRefresh({
        data: [{ value: 1, text: '刷新后' }, { value: 2, text: '大于' }, { value: 3, text: '大于等于' }, { value: 4, text: '小于' }, { value: 5, text: '小于等于' }, { value: 6, text: '包含' }, { value: 7, text: '包含于' }, { value: 8, text: '不等于' }, { value: 9, text: '不包含' }, { value: 10, text: '不包含于' }],
        value: 'value',
        text: 'text',
        title: 'text',
        placeholder: '请选择',
        maxHeight: 130,
        select: function (item) {
        }
    });
    $('#F_Symbol').lrselectSet(1);//选择value等于1的选项
    $('#F_Symbol').lrselectGet();//1
    $('#F_Symbol').lrselectGetEx();//{value: 1, text: "等于"}

                    </code></pre>
            </div>
        </div>    
        <div class="list" id="two_list_3">  
            <h3 id="two3">2.3 树形插件</h3><span> ~/Views/LR_Content/plugin/tree/lr-tree.js</span>
            <div  id="two_list_3">
                <div id="tree_show_base"></div>
                <button class="allNoCheck btn btn-primary">全不选</button>
                <button class="allCheck btn btn-primary">全选</button>
                <button class="setCheck btn btn-primary">选中节点</button>
                <button class="setValue btn btn-primary">点击节点</button>
                <button class="search btn btn-primary">搜索</button>
                <button class="refresh btn btn-primary">刷新树</button>
<pre><code>
方法：$('#'+id).lrtree(op);
参数          说明                               默认
method        请求后台方法：GET、POST            GET
url           请求后台地址                       false
param         请求后台参数                       Null
data          数据[{id,                          []
                    text,显示数据
                    value,选中值
                    showcheck,bool,是否显示多选框
                    checkstate,int,选中状态 0 未选中 1 选中
                    hasChildren,bool,是否有子节点
                    isexpand,bool,是否展开
                    complete,bool,数据是否加载完全，
                    ChildNodes,[]子节点数据
                  }]
isAllExpand   是否所以节点都展开                 false
nodeClick     点击事件
nodeCheck     选中事件   
    
        //树
        $('#tree_show_base').lrtree({
            data: [{
                id: '0',
                text: '父节点',
                value: 'no',
                hasChildren: true,
                isexpand: true,
                complete: true,
                ChildNodes: [
                    {
                        id: '1',
                        text: '子节点一',
                        value: 'learuntree',
                        hasChildren: true,
                        isexpand: true,
                        complete: true,
                        showcheck:true,
                        checkstate:1,
                        ChildNodes: [
                            {
                                id: '2',
                                text: '子节点二',
                                value: 'learuntree2',
                                showcheck:true,
                                checkstate:1,
                                complete: true
                            }
                        ]
                    }
                ]
            }],
            nodeClick: function (obj) {
                console.log(obj)//返回节点对象{id: "0", text: "父节点", value: "no", showcheck: true, checkstate: 1, …}
            },
            nodeCheck: function (obj) {
                console.log(obj)//{id: "0", text: "父节点", value: "no", showcheck: true, checkstate: 1, …}
            }  
        });
    $('#tree_show_base').lrtreeSet('allNoCheck');//全部不选
    $('#tree_show_base').lrtreeSet('allCheck');//全部选中

    $('#tree_show_base').lrtreeSet('setCheck',op);//op为节点id，
    $('#tree_show_base').lrtreeSet('setCheck',1);//选中id为1的节点

    $('#tree_show_base').lrtreeSet('setValue',op);//op为节点id，
    $('#tree_show_base').lrtreeSet('setValue',1);//点击id为1的节点

    $('#tree_show_base').lrtreeSet('search',{keyword:'子节点一'});//查找节点，keyword是节点text

    $('#tree_show_base').lrtreeSet('currentItem');//获取当前选中的节点对象

    $('#tree_show_base').lrtreeSet('getCheckNodesEx');// 只获取最下面的选中元素
    $('#tree_show_base').lrtreeSet('getCheckNodes');//获取选中节点的对象数组
    $('#tree_show_base').lrtreeSet('getCheckNodeIds');//获取选中节点的id数组

    $('#tree_show_base').lrtreeSet('refresh',op);//刷新树，op为设置项
</code></pre>
            </div>
        </div>    
        <div class="list" id="two_list_4">
            <h3 id="two4">2.4 表格插件</h3><span> ~/Views/LR_Content/plugin/grid/jfgrid.js</span>
            <div  id="two_list_4">
                <div id="gridtable" style="height:300px;"></div>

                <button class="btn btn-primary reload">重新加载表格</button>
                <button class="btn btn-primary nocheck">取消选中</button>
                <button class="btn btn-primary refreshdata">重新加载数据</button>
                <button class="btn btn-primary addRow">新增一行数据</button>
                <button class="btn btn-primary moveUp">上移</button>
                <button class="btn btn-primary moveDown">下移</button>
                <pre><code>
方法:$('#'+id).jfGrid(op);
参数                说明                    默认
url                 数据服务地址            ''
param               请求参数                {}
rowdatas            列表数据                []
datatype            数据类型                array
headData            表格列数据              []
isShowNum           是否显示序号            true
isMultiselect       是否允许多选            false
multiselectfield    多选绑定字段            ''
isSubGrid           是否有子表              false
subGridRowExpanded  子表展开后回调函数      false
subGridHeight       子表高度                300
onSelectRow         选中一行后回调函数      false
onRenderComplete    表格加载完后调用        false
isPage              是否分页                false
sidx                排序字段                ''
sord                排序方式                ASC
isTree              是否树形显示（没有分页的情况下才支持） false
mainId              关联的主键              id
parentId            树形关联字段            parentId
reloadSelected      刷新后是否还选择之前选中的,只支持单选 false
isAutoHeight        自动适应表格高度        false
footerrow           底部合计条              false
isEidt              是否编辑                false
minheight           最低高度                0
height              高度                    0
isStatistics        统计条                  false


$('#gridtable').jfGrid({
    url: top.$.rootUrl + '/LR_OrganizationModule/Role/GetPageList',
    isMultiselect:true,
    headData: [
        { label: '角色编号', name: 'F_EnCode', width: 100, align: 'left' },
        { label: '角色名称', name: 'F_FullName', width: 200, align: 'left' },
        {
            label: '创建时间', name: 'F_CreateDate', width: 130, align: 'center'
        },
        {
            label: '创建人', name: 'F_CreateUserName', width: 130, align: 'center'
        },
        {
            label: "有效", name: "F_EnabledMark", width: 50, align: "center",
            formatter: function (cellvalue) {
                return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
            }
        },
        { label: "角色描述", name: "F_Description", index: "F_Description", width: 300, align: "left" }
    ],
    isPage: true,
    reloadSelected: true,
    mainId: 'F_RoleId'
});
$('#gridtable').jfGridSet('reload');//获取url数据


$('#gridtable').jfGridSet('reload');//重新加载表格
$('#gridtable').jfGridSet('refreshdata');//重新加载表格数据

$('#gridtable').jfGridSet('nocheck',data);//data 是行主键对应的值
$('#gridtable').jfGridSet('nocheck','991e3103-7705-4637-822a-d3ffb804c5bb');

$('#gridtable').jfGridSet('addRow',data);//新增一行数据
var obj={
    F_Category: "1"
    F_CreateDate: "2015-11-04 16:11:05"
    F_CreateUserId: "System"
    F_CreateUserName: "超级管理员"
    F_DeleteMark: 0
    F_Description: ""
    F_EnCode: "100059"
    F_EnabledMark: 1
    F_FullName: "新增数据"
    F_ModifyDate: null
    F_ModifyUserId: null
    F_ModifyUserName: null
    F_RoleId: "991e3103-7705-4637-822a-d3ffb804c5bx"
    F_SortCode: 0
}
$('#gridtable').jfGridSet('addRow',obj);//新增一行数据

$('#gridtable').jfGridSet('moveUp',index);//上移,index是行下标
$('#gridtable').jfGridSet('moveDown',index);//下移


$('#gridtable').jfGridGet('rowdata');//选中行的对象数组
$('#gridtable').jfGridGet('rowdatas');//获取当前页表格展示的数据
$('#gridtable').jfGridGet('settingInfo');//配置项
$('#gridtable').jfGridGet('showData');//获取url加载的当前页数据


$('#gridtable').jfGridValue(name);获取选中的值
$('#gridtable').jfGridValue('F_FullName')//返回字符串    丙班巡检员,丙班巡检员

$('#gridtable').jfGridPrint();//打印处理,返回table
                    </code></pre>
            </div>
        </div>
    </div>
</div>
    </div>
</div>



<script>
    $(function () {
        var html = "";
        $('h2').each(function (index, val) {
            var valstr = $(val).html().substr(0, 1);
            html+='<li style="font-weight:bold;font-size:18px;height:35px;line-height:35px;"><a href="#'+$(val).attr("id")+'">'+$(val).html()+'</a></li>';
            $('h3').each(function (index, val1) {
                var val1str = $(val1).html().substr(0, 1);
                if (valstr == val1str) {
                    html+='<li style="font-size:16px;height:30px;line-height:30px;padding-left:15px;"><a href="#'+$(val1).attr("id")+'">  '+$(val1).html()+'</a></li>';
                }
            })
        })
        $("#list").append(html);

        $("#list li a").click(function (e) {
            $("#list li a").removeClass('active');
            $(this).addClass('active');
        })
        //  表格
        $('#gridtable').jfGrid({
            url: top.$.rootUrl + '/LR_OrganizationModule/Role/GetPageList',
            isMultiselect:true,
            headData: [
                { label: '角色编号', name: 'F_EnCode', width: 100, align: 'left' },
                { label: '角色名称', name: 'F_FullName', width: 200, align: 'left' },
                {
                    label: '创建时间', name: 'F_CreateDate', width: 130, align: 'center'
                },
                {
                    label: '创建人', name: 'F_CreateUserName', width: 130, align: 'center'
                },
                {
                    label: "有效", name: "F_EnabledMark", width: 50, align: "center",
                    formatter: function (cellvalue) {
                        return cellvalue == 1 ? "<i class=\"fa fa-toggle-on\"></i>" : "<i class=\"fa fa-toggle-off\"></i>";
                    }
                },
                { label: "角色描述", name: "F_Description", index: "F_Description", width: 300, align: "left" }
            ],
            isPage: true,
            reloadSelected: true,
            mainId: 'F_RoleId'
        });
        $('#gridtable').jfGridSet('reload');



        $(".rowdata").click(function () {
            console.log($('#gridtable').jfGridGet('rowdata'));
        })
        $(".rowdatas").click(function () {
            console.log($('#gridtable').jfGridGet('rowdatas'));
        })
        $(".settingInfo").click(function () {
            console.log($('#gridtable').jfGridGet('settingInfo'));
        })
        $(".showData").click(function () {
            console.log($('#gridtable').jfGridGet('showData'));
        })
        $(".getval").click(function () {
            console.log($('#gridtable').jfGridValue('F_FullName'));
        })
        $(".print").click(function () {
            console.log($('#gridtable').jfGridPrint());
        })

        $(".nocheck").click(function () {
            $('#gridtable').jfGridSet('nocheck','991e3103-7705-4637-822a-d3ffb804c5bb');
        })
        $(".reload").click(function () {
            $('#gridtable').jfGridSet('reload');
        })
        $(".refreshdata").click(function () {
            $('#gridtable').jfGridSet('refreshdata');
        })
        $(".addRow").click(function () {
            var obj = {
                F_Category: "1",
                F_CreateDate: "2015-11-04 16:11:05",
                F_CreateUserId: "System",
                F_CreateUserName: "超级管理员",
                F_DeleteMark: 0,
                F_Description: "",
                F_EnCode: "100059",
                F_EnabledMark: 1,
                F_FullName: "新增数据",
                F_ModifyDate: null,
                F_ModifyUserId: null,
                F_ModifyUserName: null,
                F_RoleId: "991e3103-7705-4637-822a-d3ffb804c5bx",
                F_SortCode: 0
            }
            $('#gridtable').jfGridSet('addRow',obj);
        })

        $(".moveUp").click(function () {
            $('#gridtable').jfGridSet('moveUp',2);
        })
        $(".moveDown").click(function () {
            $('#gridtable').jfGridSet('moveDown',2);
        })


        //下拉框选择
        $('#F_Symbol').lrselect({
            data: [{ value: 1, text: '等于' }, { value: 2, text: '大于' }, { value: 3, text: '大于等于' }, { value: 4, text: '小于' }, { value: 5, text: '小于等于' }, { value: 6, text: '包含' }, { value: 7, text: '包含于' }, { value: 8, text: '不等于' }, { value: 9, text: '不包含' }, { value: 10, text: '不包含于' }],
            value: 'value',
            text: 'text',
            title: 'text',
            placeholder: '请选择',
            maxHeight: 130,
            select: function (item) {
                console.log(item)//{value: 5, text: "小于等于"}
                top.learun.alert.success(item.text)
            }
        });
        $('.selectone').on('click', function () {
            $('#F_Symbol').lrselectSet(1);
            var t=$('#F_Symbol').lrselectGet();//
            var s = $('#F_Symbol').lrselectGetEx();//
            console.log(t)
            console.log(s)
        });
        $('.reflash').on('click', function () {
            $('#F_Symbol').lrselectRefresh({
                data: [{ value: 1, text: '刷新后' }, { value: 2, text: '大于' }, { value: 3, text: '大于等于' }, { value: 4, text: '小于' }, { value: 5, text: '小于等于' }, { value: 6, text: '包含' }, { value: 7, text: '包含于' }, { value: 8, text: '不等于' }, { value: 9, text: '不包含' }, { value: 10, text: '不包含于' }],
                value: 'value',
                text: 'text',
                title: 'text',
                placeholder: '请选择',
                maxHeight: 130,
                select: function (item) {
                }
            });
        });
        //树
        $('#tree_show_base').lrtree({
            data: [{
                id: '0',
                text: '父节点',
                value: 'no',
                showcheck:true,
                checkstate:1,
                hasChildren: true,
                isexpand: true,
                complete: true,
                ChildNodes: [
                    {
                        id: '1',
                        text: '子节点一',
                        value: 'learuntree1',
                        hasChildren: true,
                        isexpand: false,
                        showcheck:true,
                        checkstate:1,
                        complete: true,
                        ChildNodes: [
                            {
                                id: '2',
                                text: '子节点二',
                                value: 'learuntree2',
                                showcheck:true,
                                checkstate:1,
                                complete: true
                            }
                        ]
                    }
                ]
            }],
            isAllExpand: true,
            nodeClick: function (x) {
                console.log('nodeClick', x)
                console.log( $('#tree_show_base'))
            },
            nodeCheck: function (e) {
                console.log('nodeCheck',e)
            }  
        });

        $('.allNoCheck').on('click', function () {
            $('#tree_show_base').lrtreeSet('allNoCheck');
        });
        $('.allCheck').on('click', function () {
            $('#tree_show_base').lrtreeSet('allCheck');
        });
        $('.setCheck').on('click', function () {
            $('#tree_show_base').lrtreeSet('setCheck','1');
        });
        $('.setValue').on('click', function () {
            $('#tree_show_base').lrtreeSet('setValue', '1');
        });
        //$('.currentItem').on('click', function () {
        //    $('#tree_show_base').lrtreeSet('currentItem');
        //});
        //$('.getCheckNodesEx').on('click', function () {
        //    $('#tree_show_base').lrtreeSet('getCheckNodesEx');
        //});
        //$('.getCheckNodes').on('click', function () {
        //    console.log($('#tree_show_base').lrtreeSet('getCheckNodes'));
        //});
        $('.search').on('click', function () {
            $('#tree_show_base').lrtreeSet('search',{keyword:'子节点二'});
        });
        $('.refresh').on('click', function () {
            var op = {
                data: [{
                    id: '0',
                    text: '刷新后',
                    value: 'no',
                    showcheck: true,
                    checkstate: 1,
                    hasChildren: true,
                    isexpand: true,
                    complete: true,
                    ChildNodes: [
                        {
                            id: '1',
                            text: '子节点一',
                            value: 'learuntree',
                            hasChildren: true,
                            isexpand: false,
                            complete: true,
                            ChildNodes: [
                                {
                                    id: '2',
                                    text: '子节点二',
                                    value: 'learuntree',
                                    complete: true
                                }
                            ]
                        }
                    ]
                }]
            }
            $('#tree_show_base').lrtreeSet('refresh', op);//刷新树，op为设置项
        });

        //时间选择框
        $("#lrdateid").lrdate({
            dfdata: [
                {
                    name: '今天',
                    begin: function () { return top.learun.getDate('yyyy-MM-dd 00: 00: 00') },
                    end: function () { return top.learun.getDate('yyyy-MM-dd 23: 59: 59') }
                },
                {
                    name: '近7天',
                    begin: function () { return top.learun.getDate('yyyy-MM-dd 00: 00: 00', 'd', -6) },
                    end: function () { return top.learun.getDate('yyyy-MM-dd 23: 59: 59') }
                },
                {
                    name: '近1个月',
                    begin: function () { return top.learun.getDate('yyyy-MM-dd 00: 00: 00', 'm', -1) },
                    end: function () { return top.learun.getDate('yyyy-MM-dd 23: 59: 59') }
                },
                {
                    name: '近3个月',
                    begin: function () { return top.learun.getDate('yyyy-MM-dd 00: 00: 00', 'm', -3) },
                    end: function () { return top.learun.getDate('yyyy-MM-dd 23: 59: 59') }
                },
            ],
            // 月
            mShow: false,
            premShow: false,
            // 季度
            jShow: false,
            prejShow: false,
            // 年
            ysShow: false,
            yxShow: false,
            preyShow: false,
            yShow: false,
            // 默认
            dfvalue: '1',
            selectfn: function (begin, end) {
                console.log(begin, end)
                top.learun.alert.info(begin+","+end);
            }
        });

        $('#learun_uploader').lrUploader();//文件上传下载
        $('#outputArea').lrDataItemSelect({ code: 'outputArea', maxHeight: 200 });//数据字典 下拉框
        $('#user').lrUserSelect(0)//0单选1多选 人员下拉框
        $('#user1').lrUserSelect(1)//0单选1多选 人员下拉框
        $('#area').lrAreaSelect({ maxHeight: 200 });
        $('#multiple_condition_query').lrMultipleQuery(function (queryJson) {
            // 调用后台查询
            console.log(queryJson);
        }, 220);
        // 客户选择
        $('#customerId').lrselect({
            url: top.$.rootUrl + '/LR_CRMModule/Customer/GetList',
            text: 'F_FullName',
            value: 'F_CustomerId',
            allowSearch: true,
            maxHeight: 400
        });
        // 销售人员
        $('#sellerId').lrselect({
            url: top.$.rootUrl + '/LR_OrganizationModule/User/GetList?departmentId=2f077ff9-5a6b-46b3-ae60-c5acdc9a48f1',
            text: 'F_RealName',
            value: 'F_UserId',
            allowSearch: true,
            maxHeight: 400
        });
        // 收款方式
        $('#paymentState').lrDataItemSelect({ code: 'Client_PaymentMode' });
    })
    $('#lr_refresh').on('click', function () {
        location.reload();
    });
    //生成GUID
    $(".one_list_1 button").click(function () {
        $(".one_list_1 .newguid").text(top.learun.newGuid());
    })
    //加载框
    $(".one_list_2 button").click(function () {
        top.learun.loading(true, '加载中..');
        setTimeout(() => {
            top.learun.loading(false)
        }, 2000)
    })
    //改变url
    $(".one_list_3 button").click(function () {
        $(".one_list_3 .ato2").text(top.learun.changeUrlParam($(".one_list_3 input").val(), 'a', 2));
    })
    //验证是否为空
    $(".one_list_5 button").click(function () {
        top.learun.checkrow("");
    })
    //询问框
    $('#confirm').on('click', function () {
        top.learun.layerConfirm('是否确认启用该项！', function (res,index) {
            console.log(res)
            top.learun.layerClose('',index)
        });
    });
    //自定义弹层
    $('#define').on('click', function () {
        top.learun.layerForm({
            id: 'Formx',
            title: '编辑移动功能',
            url: '/AppManager/FunctionManager/Form',
            width: 600,
            height: 450,
            callBack: function (id) {
                top.learun.layerClose('Formx')
            }
        });
    });
    //打开tab
    $('#opentab').on('click', function () {
        var module={F_ModuleId:'8',F_UrlAddress:'/LR_OrganizationModule/Company/Index',F_FullName:"公司管理"}
        top.learun.frameTab.open(module, true);
    });
    //关闭一个tab
    $('#closetab').on('click', function () {
        top.learun.frameTab.close('8');
    });
    //跳转tab
    $('#focustab').on('click', function () {
        top.learun.frameTab.focus('8');
    });
    //离开tab
    $('#leavetab').on('click', function () {
       top.learun.frameTab.leaveFocus();//离开tab
    });
    //表单验证
    $('#formbtn').on('click', function () {
        if (!$('#formid').lrValidform()) {
            return false;
        }
        top.learun.alert.success("验证通过");
    });

</script>
@Html.AppendJsFile("/Areas/LR_CodeDemo/Views/DEMO/Demo.js")
