﻿<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta name=”renderer” content=”webkit|ie-comp|ie-stand” />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="~/favicon.ico">

    <title>@ViewBag.Title|力软信息|快速开发平台|Learun敏捷开发框架</title>
    <link href="~/Content/pace/pace-theme-minimal.css" rel="stylesheet" />
    <link href="~/Content/font/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap.min.css" rel="stylesheet" />

    <script src="~/Content/pace/pace.min.js"></script>
    <script src="~/Content/jquery/jquery-1.10.2.min.js"></script>
    <script src="~/Content/bootstrap/bootstrap.min.js"></script>
    <script src="~/Content/jquery/plugin/jqprint/jquery.jqprint-0.3.js"></script>

    @Html.AppendCssFile(
        "/Views/LR_Content/style/lr-common.css",
        "/Views/LR_Content/plugin/scroll/scroll.css",
        "/Views/LR_Content/style/lr-iframe-index.css",

        "/Views/LR_Content/plugin/layout/lr-layout.css",
        "/Views/LR_Content/plugin/tree/lr-tree.css",
        "/Views/LR_Content/plugin/select/lr-select.css",
        "/Views/LR_Content/plugin/timeline/lr-timeline.css",
        "/Views/LR_Content/plugin/formselect/lr-formselect.css",
        "/Views/LR_Content/plugin/custmerquery/lr-custmerquery.css",
        "/Views/LR_Content/plugin/date/lr-datepicker.css",

        "/Views/LR_Content/plugin/grid/jfgrid.css"

        )
    <script src="~/Content/datepicker/WdatePicker.js"></script>
    <!--[if lt IE 9]>
      <script src="~/Content/bootstrap/html5shiv.min.js"></script>
      <script src="~/Content/bootstrap/respond.min.js"></script>
    <![endif]-->
    <script>
        function request(d) { for (var c = location.search.slice(1).split("&"), a = 0; a < c.length; a++) { var b = c[a].split("="); if (b[0] == d) if ("undefined" == unescape(b[1])) break; else return unescape(b[1]) } return "" };
    </script>
    @Html.SetCurrentUrl()
</head>
<body class="@Learun.Util.Net.Browser @Learun.Util.WebHelper.GetUITheme()">
    @RenderBody()

    @Html.AppendJsFile(

        "/Views/LR_Content/plugin/resize/resize.js",
        "/Views/LR_Content/plugin/mousewheel/mousewheel.js",
        "/Views/LR_Content/plugin/scroll/scroll.js",

        "/Views/LR_Content/plugin/layout/lr-layout.js",
        "/Views/LR_Content/plugin/tree/lr-tree.js",
        "/Views/LR_Content/plugin/select/lr-select.js",
        "/Views/LR_Content/plugin/timeline/lr-timeline.js",
        "/Views/LR_Content/plugin/formselect/lr-formselect.js",
        "/Views/LR_Content/plugin/custmerquery/lr-custmerquery.js",
        "/Views/LR_Content/plugin/date/lr-datepicker.js",
        "/Views/LR_Content/script/lr-validator.js",
        "/Views/LR_Content/script/lr-authorize.js",
        "/Views/LR_Content/script/lr-excel.js",
        "/Views/LR_Content/script/lr-form.js",

        "/Views/LR_Content/plugin/grid/jfgrid.js"
        )
    <script>

        $(function () {
            $('#lr_layout').lrLayout();

            // 翻译指定标签
            $('.lrlg').each(function () {
                var $this = $(this);
                top.learun.language.get($this.text(), function (text) {
                    $this.text(text);
                });
            });
            // 翻译表单标题
            $('.lr-form-item-title').each(function () {
                var $this = $(this);
                var $font = $this.find('font');
                $font.remove();
                top.learun.language.get($this.text(), function (text) {
                    if ($font.length > 0) {
                        $this.html(text + '<font face="宋体">*</font>');
                    }
                    else {
                        $this.text(text);
                    }

                });
            });
            // input placeholder 翻译
            $('input[placeholder]').each(function () {
                var $this = $(this);
                var _text = $this.attr('placeholder');
                top.learun.language.get(_text, function (text) {
                    $this.attr('placeholder', text);
                });
            });

            top.learun.httpAsync('GET', top.$.rootUrl + '/LR_SystemModule/Module/GetAuthorizeButtonColumnList', { url: lrCurrentUrl }, function (data) {
                lrModuleButtonList = data.btns;
                lrModuleColumnList = data.cols;
                lrModule = data.module;
                console.log(lrModuleButtonList,lrModuleColumnList,lrModule)
                if (!!window.bootstrap) {
                    bootstrap(jQuery, top.learun);
                }
            });

           

        });
    </script>
</body>

</html>
