﻿<div class="lr-aboutadms-page">
    <div>
        <div class="title">关注力软微信公众号<br>获取更多框架信息</div>
        <div class="img"><img src="images/wechat.jpg" /></div>
        <div class="des">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;力软移动端框架是一款基于jQuery的超简单好用的移动端开发框架;通过cordova封装原生组件,让力软移动端框架实现用开发网页的方式开发接近原生体验的应用</div>
        <div class="ver">当前版本:v6.1.7.0</div>
    </div>
</div>